[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/dash/dash-extras/gpio-buttons/gpio_buttons.py

Name=GPIO Button Emulator
Icon=printer


# put this in /etc/xdg/autostart/
